
  .input-c {
    padding: 0px !important;
  }
  
  .input-c textarea {
   
    padding: 5px;
    width: 100%;
    outline: none;
    height: 500px;
    resize: none;
    border-width: 0px;
    word-wrap: break-word;
    background-color: #e4e4e438;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    font-size: 16px;
    line-height: 1.5;
    padding-left: 15px;

  
  
  }