

  .output-c {
    background-color: white;
    padding: 0px !important;
  
  }
 
  
  .body-output {
    padding: 15px !important;
    height: 500px;
    overflow: auto;
    
  }
  
  .output-c img {
    max-width: 100%;
    box-sizing: initial;
    background-color: #fff;
  
  }
  
  

  