

  .output-c {
    background-color: white;
    padding: 0px !important;
  
  }
 
  
  .body-output {
    padding: 15px !important;
    overflow: auto;
    height: -moz-calc(100vh - 120px);
    height: -webkit-calc(100vh - 120px);
    height: calc(100vh - 120px);
    
  }
  
  .output-c img {
    max-width: 100%;
    box-sizing: initial;
    background-color: #fff;
  
  }
  
  

  