.container{

    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.input-c{
    width:50%;
    height: 800px;
    
  }
textarea {
    height: 200px;
    width: 50%;
}


.output-c{
 border: 3px solid black;
  width:50%;
  height: auto;
  /* background-color: rgb(219, 218, 215); */
}